<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head"/>
<body>
    <!-- Barra de Navegación superior -->
    <nav th:replace="fragments/nav"/>
    <div class="container" id="main-container">
        <h2>Notas</h2>
        <form action="/mark/list" class="form-inline">
            <div class="form-group">
                <input class="form-control" name="searchText" placeholder="Buscar por descripción o nombre del alumno"
                       size="50"
                       type="text">
            </div>
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
        <p>Las notas que actualmente figuran en el sistema son las siguientes:</p>
        <button type="button" id="updateButton" class="btn btn-primary">Actualizar</button>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $( "#updateButton" ).click(function() {
                let numberPage = [[${param.page}]];
                let urlUpdate = '/mark/list/update';
                if (numberPage != null ){
                    urlUpdate += "?page="+numberPage[0];
                }
                $("#marksTable").load(urlUpdate);
            });
            /*]]>*/
        </script>
        <div class="table-responsive" th:replace="fragments/marksTable"/>
    </div>
    <footer th:replace="fragments/pagination"/>
    <footer th:replace="fragments/footer"/>
</body>
</html>
